{%extends 'base.html'%}
{% load static %}
{% block content %}

<style>
    .card-img-top {
        width: 100%;
        height: 200px;
        object-fit: contain;
        background-color: #f8f8f8;
    }

    .discount-badge {
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: red;
        color: white;
        padding: 5px;
        font-size: 12px;
        border-radius: 5px;
    }

    .old-price {
        text-decoration: line-through;
    }
</style>


<!-- {% if messages %}
{% for message in messages %}

<div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>¡Éxito!</strong> Registrado correctamente.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

{% endfor %}
{% endif %} -->


<!--todo| CARRUSEL PRINCIPAL |-->
<div id="carouselExampleInterval" class="carousel slide mt-3" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="5000">
            <img src="{% static 'imagenes/aa.jpg' %}" class="d-block w-100 img-fluid" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="5000">
            <img src="{% static 'imagenes/ee.jpg' %}" class="d-block w-100 img-fluid" alt="...">
        </div>
        <div class="carousel-item " data-bs-interval="5000">
            <img src="{% static 'imagenes/oo.jpg' %}" class="d-block w-100 img-fluid" alt="...">
        </div>
        <div class="carousel-item " data-bs-interval="5000">
            <img src="{% static 'imagenes/uu.jpg' %}" class="d-block w-100 img-fluid" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<!--todo| fin de carrucel-->



<!--todo| Titulo de la pagina-->
<div class="text-center p-5">
    <h1>Productos</h1>
</div>

{{result}}

<!--todo| Busqueda-->

<!--Busqueda-->

<div class="col-lg-">
    <form action="" method="get">
        <div id="busqueda">
            <div class="input-group col-md-12">
                <input type="text" class="form-control" placeholder="Buscar..." name="buscar">
                <span class="input-group-btn">
                    <i class="icon icon-search"></i>
                    <button type="submit" class="btn btn.success">Buscar</button>
                </span>
            </div>
        </div>
    </form>
</div>


<!--todo| Seccion de Productos |-->
<div class="row justify-content-center">
    {% for i in productos %}

    <!-- <div class="card shadow-lg col-md-4 m-5" style="width: 18rem;">
        <a href="{% url 'producto:detalle_producto' i.id %}">


            {% if i.imagen %}
            <img src="{{i.imagen.url}}" class="card-img-top" alt="...">
            {% else %}
            <img src="media/producto/default.jpg" class="card-img-top" alt="...">
            {% endif %}

        </a>
        <div class="card-body">
            <h5 class="card-title">{{i.nombre}}</h5>
            <p class="card-text">$ {{i.precio}}</p>
            <a href="{% url 'carro:agregar' i.id %}" class="btn btn-primary">Agregar al carro</a>
        </div>
    </div> -->

    <div class="col-md-3 m-3">
        <div class="card rounded-2 shadow" style="position: relative;">
            <!-- <span class="discount-badge">30%</span> -->
            <a href="{% url 'producto:detalle_producto' i.id %}">
                {% if i.imagen %}
                <img src="{{i.imagen.url}}" class="card-img-top" alt="...">
                {% else %}
                <img src="media/producto/default.jpg" class="card-img-top" alt="...">
                {% endif %}
            </a>
            <div class="card-body">
                <h5 class="card-title">{{i.nombre}}</h5>
                <p class="card-text">{{i.descripcion}}</p>
                <p class="h4">CLP {{i.precio}}</p>
                <a href="{% url 'carro:agregar' i.id %}" class="btn btn-outline-primary btn-block">Añadir al carro <i class="fa-solid fa-cart-shopping"></i></a>
            </div>
        </div>
    </div>

    {% endfor %}
</div>


{% endblock content %}