{%extends 'base.html'%}
{% load static %}
{% block content %}

<!--todo Sub Heder-->

<div class="">
    <div class="row">

        <div class="col-12 text-center">
            <img src="#" alt="">
            <a class="btn btn-custom" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
                aria-controls="offcanvasExample">
                Categorias
            </a>

        </div>

    </div>
</div>

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header offcanvas-header-custom">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Categorias</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body offcanvas-body-custom">
        {% for categoria in categorias %}
        <div>
            <a href="">{{categoria.nombre}}</a>
        </div>
        {% endfor %}

        <!-- Herramientas -->
        <div class="mt-3">
            <a class="d-block text-decoration-none fw-bold text-dark" data-bs-toggle="collapse"
                href="#collapseHerramientas" role="button" aria-expanded="false" aria-controls="collapseHerramientas">
                Herramientas <span class="float-end">&#9660;</span>
            </a>
            <div class="collapse ms-3 mt-2" id="collapseHerramientas">
                <a href="martillos" class="d-block text-decoration-none text-dark">Martillos</a>
                <a href="destornilladores" class="d-block text-decoration-none  text-dark">Destornilladores</a>
                <a href="llaves" class="d-block text-decoration-none  text-dark">Llaves</a>
                <a href="taladros" class="d-block text-decoration-none  text-dark">Taladros</a>
                <a href="sierras" class="d-block text-decoration-none  text-dark">Sierras</a>
                <a href="lijadoras" class="d-block text-decoration-none  text-dark">Lijadoras</a>
            </div>
        </div>

        <!-- Materiales de Construcción -->
        <div class="mt-3">
            <a class="d-block text-decoration-none fw-bold text-dark" data-bs-toggle="collapse"
                href="#collapseMateriales" role="button" aria-expanded="false" aria-controls="collapseMateriales">
                Materiales de Construcción <span class="float-end">&#9660;</span>
            </a>
            <div class="collapse ms-3 mt-2" id="collapseMateriales">
                <a href="cemento" class="d-block text-decoration-none text-dark">Cemento</a>
                <a href="arena" class="d-block text-decoration-none text-dark">Arena</a>
                <a href="ladrillos" class="d-block text-decoration-none text-dark">Ladrillos</a>
                <a href="pinturas" class="d-block text-decoration-none text-dark">Pinturas</a>
                <a href="barnices" class="d-block text-decoration-none text-dark">Barnices</a>
                <a href="ceramicos" class="d-block text-decoration-none text-dark">Cerámicos</a>
            </div>
        </div>

        <!-- Equipos de Seguridad -->
        <div class="mt-3">
            <a class="d-block text-decoration-none fw-bold text-dark" data-bs-toggle="collapse"
                href="#collapseSeguridad" role="button" aria-expanded="false" aria-controls="collapseSeguridad">
                Equipos de Seguridad <span class="float-end">&#9660;</span>
            </a>
            <div class="collapse ms-3 mt-2" id="collapseSeguridad">
                <a href="cascos" class="d-block text-decoration-none text-dark">Cascos</a>
                <a href="guantes" class="d-block text-decoration-none text-dark">Guantes</a>
                <a href="lentes" class="d-block text-decoration-none text-dark">Lentes de Seguridad</a>
                <a href="accesorios" class="d-block text-decoration-none text-dark">Accesorios Varios</a>
            </div>
        </div>

        <!-- Otras Categorías -->
        <div class="mt-3">
            <a href="anclajes" class="d-block text-decoration-none fw-bold text-dark">Tornillos y
                Anclajes</a>
        </div>
        <div class="mt-3">
            <a href="adhesivos" class="d-block text-decoration-none fw-bold text-dark">Fijaciones y
                Adhesivos</a>
        </div>
        <div class="mt-3">
            <a href="medicion" class="d-block text-decoration-none fw-bold text-dark">Equipos de Medición</a>
        </div>
    </div>
</div>

<!--fin de categorias-->





<!--todo| CARRUSEL PRINCIPAL |-->
<div id="carouselExampleInterval" class="carousel slide mt-3" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="5000">
            <img src="{% static 'imagenes/aa.jpg' %}" class="d-block w-100 img-fluid" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="5000">
            <img src="{% static 'imagenes/ee.jpg' %}" class="d-block w-100 img-fluid" alt="...">
        </div>
        <div class="carousel-item " data-bs-interval="5000">
            <img src="{% static 'imagenes/oo.jpg' %}" class="d-block w-100 img-fluid" alt="...">
        </div>
        <div class="carousel-item " data-bs-interval="5000">
            <img src="{% static 'imagenes/uu.jpg' %}" class="d-block w-100 img-fluid" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<!--todo| fin de carrucel-->



<!--todo| Titulo de la pagina-->
<div class="text-center p-5">
    <h1>Productos</h1>
</div>

{{result}}



<!--todo| Seccion de Productos |-->
<div class="row">
    {% for i in productos %}

    <div class="card col-md-4 m-5" style="width: 18rem;">
        {% if i.imagen %}
        <img src="{{i.imagen.url}}" class="card-img-top" alt="...">
        {% else %}
        <img src="media/producto/default.jpg" class="card-img-top" alt="...">
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{i.nombre}}</h5>
            <p class="card-text">{{i.precio}}</p>
            <a href="{% url 'carro:agregar' i.id %}" class="btn btn-primary">Agregar al carro</a>
        </div>
    </div>

    {% endfor %}
</div>





{% endblock content %}