{%extends 'base.html'%}
{% load static %}
{% block content %}


<!--todo| CARRUSEL PRINCIPAL |-->
<div id="carouselExampleInterval" class="carousel slide mt-3" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="5000">
            <img src="{% static 'imagenes/aa.jpg' %}" class="d-block w-100 img-fluid" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="5000">
            <img src="{% static 'imagenes/ee.jpg' %}" class="d-block w-100 img-fluid" alt="...">
        </div>
        <div class="carousel-item " data-bs-interval="5000">
            <img src="{% static 'imagenes/oo.jpg' %}" class="d-block w-100 img-fluid" alt="...">
        </div>
        <div class="carousel-item " data-bs-interval="5000">
            <img src="{% static 'imagenes/uu.jpg' %}" class="d-block w-100 img-fluid" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<!--todo| fin de carrucel-->



<!--todo| Titulo de la pagina-->
<div class="text-center p-5">
    <h1>Productos</h1>
</div>



<!--todo| Seccion de Productos |-->
<div class="row">
    {% for i in productos %}

    <div class="card col-md-4 m-5" style="width: 18rem;">
        {% if i.imagen %}
        <img src="{{i.imagen.url}}" class="card-img-top" alt="...">
        {% else %}
        <img src="media/producto/default.jpg" class="card-img-top" alt="...">
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{i.nombre}}</h5>
            <p class="card-text">{{i.descripcion}}</p>
            <a href="{% url 'carro:agregar' i.id %}" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

    {% endfor %}
</div>



{% endblock content %}